body{
  display: grid;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  background-image: url("images/");
  background-size: 450px 450px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  text-align: center;
  background-color: black;
  
     
}

  h4{
    font-size: 20px;
    color: white;
    font-family: Lucida Sans;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

  }

  .ppic{
    display: flex;
    justify-content: center;
  }
  

  footer{
    justify-content: space-evenly;
    padding: 3%;
    background-color: rgb(255, 255, 255);

}

.footerlogo{
  grid-auto-flow: column;
  max-width: 5%;
  margin-left: 12%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 300px) {
  body {
    background-color: rgb(0, 0, 0);
    width: 100%;
  }
}

