body{
  display: grid;
  font-family: 'Roboto', sans-serif;
  background-image: url("images/AltLogo.png");
  background-size: 500px 250px;
  background-repeat: repeat;
  background-position: center;
  text-align: center;
  color: red;
     
}

  h4{
    font-size: 20px;
  }

  .container {
    display: flex;
    flex-flow: row wrap;

  }

  .ppic{
    width: 4rem;
  }
  

  footer{
    justify-content: space-evenly;
    padding: 3%;
    background-color: rgb(255, 255, 255);

}

.footerlogo{
  grid-auto-flow: column;
  max-width: 5%;
  margin-left: 12%;
  padding-bottom: 5%;
}